
*.ipch
*.opendb
*.db
*.db-shm
.vs/H4MS/v15/.suo
*.db-wal
*.obj
*.tlog
*.log
*.pdb
*.lib
*.iobj
*.ipdb
*.user
*.py
*.dll
H4MS/H4MS.vcxproj
H4MS/H4MS.vcxproj.filters
H4MS/include/H4MS.hpp
H4MS/include/stdafx.h
H4MS/include/targetver.h
H4MS/Release/H4MS.pch
H4MS/src/dllmain.cpp
H4MS/src/H4MS.cpp
H4MS/src/stdafx.cpp
*.zip
*.ico
*.idb
*.ilk
*.enc
*.pch
